.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: 	#FFFF66; /* Change background color to yellow */
  display: flex; /* Use flexbox to align title and status horizontally */
  align-items: center; /* Center align items vertically */
}

.card-title {
  font-size: 18px;
  font-weight: bold; 
}

.card-status {
  color: #555;
  margin-left: auto;
}